{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" href="/static/c3/c3.css">
<script src="/static/d3/d3.js" charset="utf-8"></script>
<script src="/static/c3/c3.js"></script>
{% endblock %}

{% block content %}


<div id="sentiment-chart" width="600" height="400"></div>

<script>

 var prevDataCol = [ {{ chartdata|safe }} ] ;
 var newDataCol = [];
 var hashtag = "{{ hashtag }}";
 var savedht = sessionStorage.getItem("hashtag");
 if (savedht === null || hashtag !== savedht) {
     // Update our session storage
     sessionStorage.setItem("hashtag", "{{ hashtag }}");
 }
     
 var lastid = sessionStorage.getItem("lastid");

 if (lastid === null) {
     console.log("lastid not set in storage yet, setting " +
		 "it to {{ lastid }} now.");
     sessionStorage.setItem("lastid", "{{ lastid }}");
     lastid = "{{ lastid }}";
 }

 function getNewData() {
     var xhr = new XMLHttpRequest();
     xhr.open("GET", "/sentiment?hashtag="+hashtag+"&lastid="+lastid, true);
     xhr.onload = function (e) {
	 if ((xhr.readyState === 4) && (xhr.status === 200)) {
	     parsed = JSON.parse(xhr.responseText);
	     sessionStorage.setItem("lastid", parsed["lastid"]);
	     lastid = parsed["lastid"];
	     // Did we get new data points?
	     if (parsed["chartdata"].length > 1) {
		 // yes	 
		 newDataCol = [ parsed["chartdata"] ];
	     } else {
		 newDataCol = [];
	     }
	 }
     };
     xhr.onerror = function (e) {
	 console.error(xhr.statusText);
     };
     xhr.send(null);
 };

 var labeltext =  "Sentiment analysis for #" + hashtag;
 var config = {
     bindto: document.getElementById("sentiment-chart"),
     data: {
	 columns: prevDataCol,
	 labels: true,
	 names: {
	     data1: labeltext
	 },
	 type: 'spline'
     },
     axis: {
	 x: {
	     show: false,
	     type: 'indexed'
	 },
	 y: {
	     min: 0,
	     max: 100
	 }
     }
 };

 var chart = c3.generate(config);

 function updateChart() {
     getNewData();
     if (newDataCol !== []) {
	 chart.flow({
    	     columns: prevDataCol,
	     done: function () {
		 chart.flow({
		     columns: newDataCol,
		     line: { connectNull: true }
		 })
	     }
	 });
	 prevDataCol = newDataCol;
     }
 };

 /* Update the chart every 30 seconds */
 window.setInterval(updateChart, 30000);
</script>

Sentiment Analysis allows us to determine whether a tweet is positive,
negative or neutral. Tweet 'values' above 50% are positive, below 50%
are negative, and at 50% are neutral. The closer a number is to 0 or
100, the more pronounced the sentiment is.

<form method="POST" action="/sentiment">
    <div>
	{{ form.hashtag.label }}: {{ form.hashtag() }}
	<input class="inputbutton" type="submit" label="Check sentiment">
    </div>
</form>

<div class="scrolling-tweets"></div>



{% endblock %}
