{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" href="/static/c3/c3.css">
<script src="/static/d3/d3.js" charset="utf-8"></script>
<script src="/static/c3/c3.js"></script>
{% endblock %}

{% block content %}


<div id="sentiment-chart" width="600" height="400"></div>

<script>

 var prevDataCol = [ {{ chartdata|safe }} ] ;
 var newDataCol = [];
 var lastid = "";

 var hashtag = sessionStorage.getItem("hashtag");
 if (hashtag === null) {
     console.log("hashtag not set in storage yet, setting " +
		 "it to {{ hashtag }} now.");
     sessionStorage.setItem("hashtag", "{{ hashtag }}");
     hashtag = "{{ hashtag }}";
 }
 var lastid = sessionStorage.getItem("lastid");
 if (lastid === null) {
     console.log("lastid not set in storage yet, setting " +
		 "it to {{ lastid }} now.");
     sessionStorage.setItem("lastid", "{{ lastid }}");
     lastid = "{{ lastid }}";
 }

 function getNewData() {
     var xhr = new XMLHttpRequest();
     xhr.open("GET", "/sentiment?hashtag="+hashtag+"&lastid="+lastid, true);
     xhr.onload = function (e) {
	 if ((xhr.readyState === 4) && (xhr.status === 200)) {
	     	     parsed = JSON.parse(xhr.responseText);
	     sessionStorage.setItem("lastid", parsed["lastid"]);
	     lastid = parsed["lastid"];
	     // Did we get new data points?
	     if (parsed["chartdata"].length > 1) {
		 // yes	 
		 newDataCol = [ parsed["chartdata"] ];
	     } else {
		 console.log("No new data returned")
		 console.log("parsed['chartdata'] is: " +
			     JSON.stringify(parsed["chartdata"]));
	     }
	 }
     };
     xhr.onerror = function (e) {
	 console.error(xhr.statusText);
     };
     xhr.send(null);
 };

 var labeltext =  "Sentiment analysis for #" + hashtag;
 var config = {
     bindto: document.getElementById("sentiment-chart"),
     data: {
	 columns: prevDataCol,
	 labels: true,
	 names: {
	     data1: labeltext
	 },
	 type: 'spline'
     },
     axis: {
	 x: {
	     show: false,
	     type: 'indexed'
	 },
	 y: {
	     min: 0,
	     max: 100
	 }
     }
 };

 var chart = c3.generate(config);

 function updateChart() {
     getNewData();
     chart.flow({
    	 columns: prevDataCol,
	 done: function () {
	     chart.flow({
		 columns: newDataCol,
		 length: (newDataCol[0].length - 1),
		 line: { connectNull: true }
	     })
	 }
     });
     prevDataCol = newDataCol;
 };

 /* Update the chart every 30 seconds */
 window.setInterval(updateChart, 30000);
</script>
{% endblock %}
